.BodyDataDesign{
    display: flex;
}

.BodyDataDesign img{
    flex-direction:column;
    margin-right:20px;
    border-radius:25px
}

.BodyData{
  font-size: 30px;
}

.SourceD{
    font-size: 65px;
    color: gray
}

.SellingPointD{
    font-size: 65px;
    color: green
}

.ButtonD{
    background-color: #41EC25;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.ButtonD:hover{
    transition: all 0.5s ease-out;
    background-color: rgb(14, 220, 34);
}

@media screen and (max-width: 900px){
    .BodyDataDesign img{
      width: calc(100% / 2);;
    }
  }
  
  @media screen and (max-width: 550px){
    .BodyDataDesign img{
      width: 100%;
    }
  }